html {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #e0e8ff;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: url(./images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
}

h1 {
  margin-top: 1.9rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

h2 {
  font-size: 0.8rem;
}

h3 {
  font-weight: bolder;
  font-size: 0.8rem;
}

h3:hover {
  color: #9389e8;
}

p {
  margin-top: 0.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  color: #838a9b;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
}

.main-wrapper{
  border-radius: 1rem;
  width: 23rem;
  height: 35rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.illustration {
  border-radius: 1rem 1rem 0 0;
}

.price-wrapper {
  display: flex;
  background-color: #f8f9fe;
  width: 19rem;
  height: 4.9rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.price-text {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.plan {
  font-size: 0.9rem;
  margin-top: 1.3rem;
  margin-left: 1rem;
  font-weight: bold;
}

.price {
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin-left: 1rem;
  color: #878dab;
}

.change {
  font-size: 0.6rem;
  margin-top: 1.9rem;
  margin-left: 4.3rem;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: 'Red Hat Display', sans-serif;
  color: #f6f1ff;
  font-size: 0.8rem;
  width: 16.6rem;
  height: 1.5rem;
  margin-top: 1.5rem;
  background: #382ae1;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
  border: solid #1f628d 0px;
}

.btn:hover {
  background: #766cf1;
  text-decoration: none;
}

.cancel {
  margin-top: 1.5rem;
  text-decoration: none;
  color: #727591;
}

.cancel:hover {
  text-decoration: none;
  color: #354056;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: #6D6F78;
}

@media screen and (max-width: 500px) {
  body {
    background: url(./images/pattern-background-mobile.svg) no-repeat;
    background-size: contain;
  }
